# Lab Assignment 2 - Jessica Burch
### 200003047
### https://github.com/JessicaBurch14/PY4SA23_Assignment

## **Python Basics** - go back and write what did!!!!!!!

Task 1 -  If...Else statement that will test whether a number is divisible by three

In [36]:
x = 63
if x%3==0:
    print(str(x) + " is divisible by 3.")
else:
    print(str(x) + " is not divisible by 3.")

63 is divisible by 3.

Task 2 - If...Else statement that will test whether a type of fruit, represented as a text string,is in a list of acceptable fruits

In [33]:
fruits = ["apple", "orange", "pear", "kiwi", "strawberry"] 
if fruit in fruits:
    print(fruit + " is acceptable")
else: 
    print(fruit + " is not acceptable")
fruit = "pineapple"

pineapple is not acceptable

Task 3 - function to calculate the distance between two coordinates using the haversine
formula

## **Pandas and NumPy** - write what did!!!!!!!!!!!

In [1]:
import numpy as np 
import pandas as pd

Q1: How many trees are of the Quercus or Acer genus?

In [2]:
portland_trees = pd.read_csv("data/portland_park_trees.csv", sep=",", header=0, encoding="ISO-8859-1")

In [12]:
genus_quercus = portland_trees[portland_trees["Genus"]=="Quercus"]
print(len(genus_quercus))
genus_acer = portland_trees[portland_trees["Genus"]=="Acer"]
print(len(genus_acer))
trees=len(genus_quercus) + len(genus_acer)
print(trees)
print(str(trees)+ " trees are of the Quercus or Acer genus")

2089
3586
5675
5675 trees are of the Quercus or Acer genus

Q2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [24]:
quercusdbh_50 = genus_quercus[(genus_quercus["DBH"]>50)]
print(len(quercusdbh_50))
acerdbh_50 = genus_acer[(genus_acer["DBH"]>50)]
print(len(acerdbh_50))
dbh_50 = len(quercusdbh_50) + len(acerdbh_50)
print(dbh_50)
print(str(dbh_50)+ " trees are of the Quercus or Acer genus and have a DBH larger than 50 inches")

80
44
124
124 trees are of the Quercus or Acer genus and have a DBH larger than 50 inches

Q3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [37]:
quercus_mean=genus_quercus["DBH"].mean()
print(quercus_mean)

acer_mean=genus_acer["DBH"].mean()
print(acer_mean)   

genus_fraxinus=portland_trees[portland_trees["Genus"]=="Fraxinus"]
fraxinus_mean=genus_fraxinus["DBH"].mean()
print(fraxinus_mean)

print("The Quercus genus has the highest mean DBH, with a value of" + " " + str(quercus_mean))

23.56823839157492
18.419085331846066
11.033609693877551
The Quercus genus has the highest mean DBH, with a value of 23.56823839157492

Q4: How many different species of trees are recorded in the Acer genus?

In [70]:
acer_species=portland_trees[portland_trees["Genus"]=="Acer"][["Species"]]
species=acer_species.value_counts()
print(species) # This shows the counts of the different species within the Acer genus 
species_count=len(species)
print(species_count) # This shows the number of different species with the genus (the length of the object)
print("There are" + " " + str(species_count) + " different species of trees recorded in the Acer genus")

Species
ACPL       1502
ACMA        490
ACRU        303
ACCI        299
ACPS        211
ACFR        207
ACPA        176
ACSA3       153
ACCA         68
ACSA         52
ACGI         48
ACGR         44
ACDA          8
ACNE          6
ACGDSC        6
ACBU          5
ACJA          4
ACRF          2
ACHD          1
ACMO          1
dtype: int64
20
There are 20 different species of trees recorded in the Acer genus

Q5: using the world_cities.csv

In [71]:
world_cities = pd.read_csv("data/world_cities.csv", sep=",", header=0, encoding="ISO-8859-1")

Calculate a new column named "pop_M" (population in millions), by transforming the
"pop" (population) column.

Remove the original "pop" column

Choose/subset a city that starts with the same letter as your first name (for example,
"Mexico City" if your first name is Michael)

Subset the five biggest (i.e., largest population sizes) cities from the country where your
selected city is

## Python Data Visualisation

In [72]:
portland_trees = pd.read_csv("data/portland_park_trees.csv", sep=",", header=0, encoding="ISO-8859-1")

Graph 1: Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis
and tree height mapped to the y-axis